
//
// Mixins
//
@mixin control() {
	background-color: #d6dee8;
	display: block;
	position: absolute;
	@include border-top-right-radius(4px);
	box-sizing: content-box;
	padding: 1px 1px 1px 2px;
	font-weight: normal;
	font-size: 10px;
	height: 10px;
	width: 55px;
}

@mixin control-open() {
	content: 'show more';
}

@mixin control-close() {
	content: 'show less';
}
@mixin border-top-right-radius($radius) {
       -webkit-border-top-right-radius: $radius;
               border-top-right-radius: $radius;
                       background-clip: padding-box; /* stops bg color from leaking outside the border: */
}

//
// Table styles
//
table.dataTable {
	// Styling for the `inline` type
	&.dtr-inline.collapsed tbody {
		td:first-child,
		th:first-child {
			position: relative;
			padding-left: 30px;
			cursor: pointer;

			&:before {
				bottom: 0px;
				left: 0px;
				@include control;
				@include control-open;
			}

			&.dataTables_empty:before {
				display: none;
			}
		}

		tr.parent {
			td:first-child:before,
			th:first-child:before {
				@include control-close;
			}
		}

		tr.child td:before {
			display: none;
		}
	}


	// Styling for the `column` type
	&.dtr-column tbody {
		td.control,
		th.control {
			position: relative;
			cursor: pointer;

			&:before {
				top: 50%;
				left: 50%;
				height: 16px;
				width: 16px;
				margin-top: -10px;
				margin-left: -10px;
				@include control;
				@include control-open;
			}
		}

		tr.parent {
			td.control:before,
			th.control:before {
				@include control-close;
			}
		}
	}


	// Child row styling
	tr.child {
		padding: 0.5em 1em;
		border-bottom: 1px solid #d6dee8;
		&:hover {
			background: transparent !important;
		}

		ul {
			display: inline-block;
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				border-bottom: 1px solid #efefef;
				padding: 0.5em 0;

				&:first-child {
					padding-top: 0;
				}

				&:last-child {
					border-bottom: none;
				}
			}
		}

		span.dtr-title {
			display: inline-block;
			min-width: 75px;
			font-weight: bold;
		}

		span.dtr-data {}
	}
}

