#widgetEscape{
	z-index: 50;
	width: 100%;
	height: 100%;
	//background: #000;
	//opacity: 0.5;
	position: fixed;
}


#snippetWidget {
	margin: 0;
	padding: 0;
	width: 197px;
	border: solid 1px #888;
	background: #FFF;
	color: #333;
	position: absolute;
	bottom: 9%;
	left: 23%;
	z-index: 100;
	display: none;
	-moz-box-shadow: 2px 2px 2px #888;
}

#snippetWidget .header {
	width: 100%;
	height: 20px;
	background-color: #DDD; 
   	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D8DDDD), to(#FFF), to(#EEE));
   	background-image: -webkit-linear-gradient(top, #D8DDDD, #FFF, #EEE); 
   	background-image:    -moz-linear-gradient(top, #D8DDDD, #FFF, #EEE);
   	background-image:     -ms-linear-gradient(top, #D8DDDD, #FFF, #EEE);
   	background-image:      -o-linear-gradient(top, #D8DDDD, #FFF, #EEE);
	color: #FFF;
	position: relative;
}

#snippetWidget .header .closeText {
	margin: 0;
	padding: 4px 0 0 0;
	width: 35px;
	color: #333;
	font-size: 11px;
	float: right;
	text-align: center;
}

#snippetWidget .header .close {
	width: 24px;
	height: 20px;
	margin: 0;
	padding: 0;
	border-radius: 0px;
	display: block;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); /* --- Overrides the parent element's filter property --- */	
	background: #DDD url('../../images/sprites/misc-sprite.png') no-repeat -13px -15px;
	-webkit-background-size: 306px auto;
	float: right;
	border: none;
	text-indent: -9999px;
}

#snippetWidget p {
	margin: 0;
	width: 430px;
	color: #333;
	font-size: 11px;
}

#snippetWidget .destinationList {
	overflow: hidden;
	margin: 0 0 0 0;
	background: #F6F6F6;
}

#snippetWidget .destinationList li {
	width: 100%;
	color: #FFF;
	font-size: 10px;
	color: #FFF;
	margin: 0;
	position: relative;
	list-style-type: none;
}

#snippetWidget .destinationList li a {
	color: #000;
	display: block;
	height: 14px;
	padding: 20px 0;
	position: relative;
	text-decoration: none;
}

#snippetWidget .destinationList li a:hover {
	background: url(../../images/hovers/share-hover.png) no-repeat 0 8px;
}

#snippetWidget .destinationList li a .arrowIcon {
	background: url(../../images/sprites/misc-sprite.png) no-repeat -75px -269px;
	height: 12px;
	width: 10px;
	overflow: hidden;
	float: left;
	position: absolute;
	bottom: 22px;
	left: 15px;
	display: none;
	visibility: none;
}

#snippetWidget .destinationList li a:hover .arrowIcon {
	display: block;
}

#snippetWidget .destinationList li .shareIcon {
	background: url('../../images/sprites/share-sprite.png') no-repeat;
	background-size: 100% auto;
	-webkit-background-size: 100% auto;
	height: 16px;
	width: 20px;
	border: none;
	margin: 0 20px 0 40px;
	text-indent: -9999px;
	float: left;
	display: block;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); /* --- Overrides the parent element's filter property --- */	
}

#snippetWidget .destinationList li .where_chatter {
	background-position: 0 -22px;
}
#snippetWidget .destinationList li .where_forum {
	background-position: 0 -5px;
}
#snippetWidget .destinationList li .where_twitter {
	background-position: 0 -42px;
}
#destinationDialog {
	z-index: 101;
	display: none;
}
.twitterDeny {
  background: #F1F1F1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 5px 5px 5px #000;
  -webkit-box-shadow: 5px 5px 5px #000;
  box-shadow: 5px 5px 5px #000;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
}

.twitterDeny p {
  color: #4B4B4B;
  font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}

.twitterDeny .btn {
  margin: 20px auto;
  width: 160px;
}

.twitterDeny .btn input {
  background: #1e5799;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(50%, #2989d8), color-stop(51%, #207cca), color-stop(100%, #7db9e8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* W3C */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
  /* IE6-9 */
  padding: 5px;
  white-space: normal;
  width: 160px;
}

.twitterDeny .btn input:hover {
  background: #7db9e8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7db9e8), color-stop(49%, #207cca), color-stop(50%, #2989d8), color-stop(100%, #1e5799));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
  /* W3C */
  color: #F1F1F1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );
  /* IE6-9 */
}